{% extends 'app/base.html.twig' %}

{% block title %}Ooops{% endblock %}

{% block body %}

    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
        <h2 class="h2">Not found</h2>
    </div>

    <p class="lead">
        You tried to access a resource that doesn't exist.
    </p>
    <p>
        Please go back on your browser or select another option from the navigation.
    </p>

{% endblock %}