html {
  overflow: hidden;
  height: 100%;
}

body {
  height: 100%;
  overflow: auto;
  font-family: "Figtree", sans-serif;
  font-weight: normal;
  font-style: normal;
  overflow-x: hidden;
  overflow-y: hidden;
  font-size: .875rem;
  overscroll-behavior: none;
}

.main {
  overflow-y: auto;
  padding-left: 16rem;
}

.sidenav {
  position: fixed;
  overflow-y: auto;
  width: 16rem;
  z-index: 1001;
}

.collapsed {
  .main {
    padding-left: 8rem;
  }
  .sidenav {
    width: 8rem;
  }
}